<style>
.text-padding{padding-top: 7px;}
.w3-panel{
    padding: 0.01em 16px;
    margin-top: 16px!important;
    margin-bottom: 16px!important;
}.w3-note {
    background-color: #fcf8e3;
    border-left: 6px solid #faebcc;
    color:#8a6d3b;
}.w4-note {
    background-color: #f2dede;
    border-left: 6px solid #ebccd1;
    color:#a94442;
}
</style>
<div class="right_col" role="main">
<?php //echo "<pre>";print_r($data);?>
          <div class="">
            
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                 <?php //pr($data);die; ?>
                  <div class="x_content form-horizontal">
					<span class="section">View Song Details</span>
                      
                       <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Song Title : </label>
                        <div class="col-md-6 col-sm-6 col-xs-12 text-padding">
                           <?php echo $data['title']; ?>
                        </div>
                      </div>
					 <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Category Name : </label>
                        <div class="col-md-6 col-sm-6 col-xs-12 text-padding">
                           <?php  echo $data['category']['category_name']; ?>
                        </div>
                      </div>
                     
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Sub Category Name : </label>
                        <div class="col-md-6 col-sm-6 col-xs-12 text-padding">
                           <?php  echo $data['subcategory']['category_name']; ?>
                        </div>
                      </div>
                      
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Total Likes : </label>
                        <div class="col-md-6 col-sm-6 col-xs-12 text-padding">
                           <?php $like_count = 0;
                           foreach($data['likes'] as $like) {
							   if($like['status'] == 1) {
								   $like_count+= count($like['status']);
							   }
						   }
                           echo $like_count; ?>
                        </div>
                      </div>
                      
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Total Unlikes : </label>
                        <div class="col-md-6 col-sm-6 col-xs-12 text-padding">
                           <?php $unlike_count = 0;
                           foreach($data['likes'] as $like) {
							   if($like['status'] == 0) {
								   $unlike_count+= count($like['status']);
							   }
						   }
                           echo $unlike_count; ?>
                        </div>
                      </div>
                      
                   <div class="item form-group">
					<label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Image : </label>
					<div class="col-md-6 col-sm-6 col-xs-12 text-padding">
					    <?php
					   
					     if(!empty($data['image'])){
					    
							echo '<img src="'.path_song_upload_image.$data['image'].'" width="100px">';
					
							 }else{ echo "No Image";}?>
					</div>
				  </div>
                    
				  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
