                      <table class="table table-striped jambo_table bulk_action">
                        <thead>
                          <tr class="headings">
							
							<th class="column-title">S.No. </th>
					
							<th class="column-title">Profile User Name </th>
							<th class="column-title">Song Title </th>
							<th class="column-title">User Name (Who Liked)</th>
						
							<th class="column-title no-link last"><span class="nobr">Action</span></th>
                          
                          </tr>
                        </thead>

                        <tbody>
							<?php //pr($datalike);die;
							$count = 1;
							
							foreach($datalike->toArray() as $data){
							//pr($data);die;
						    ?>
								
							<tr id ="bank_row_<?= $data['id']; ?>" >
								
								<td><?= $count?>.</td>
								
								<?php if($data['song_id'] == 0) { ?>
									<td class=" "><?=$data['profile']['full_name']; ?></td>
								<?php } else { ?>
									<td class=" "><?='--'; ?></td>
								<?php } ?>
								
								<?php if($data['profile_id'] == 0) { ?>
									<td class=" "><?=$data['song_upload']['title']; ?></td>
								<?php } else { ?>
									<td class=" "><?='--'; ?></td>
								<?php } ?>
								
								<td class=" "><?=$data['user']['full_name']; ?></td>
								
								<td class=" last">
									<a href="javascript:void(0)" onclick="delete_bank(<?= $data['id'] ?>)" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
									</div>
									
								</td>
							</tr>
							
							<?php  $count++;
							} ?> 
							
							<?php  if(count($datalike->toArray()) < 1) {
										echo "<tr><th colspan = '6'>No record found</th></tr>";
								   } ?>	

                         </tbody>
                      </table>
                      <?php // $this->Paginator->options(array('url' => array('controller' => 'SongUploads', 'action' => 'searchlike')));
					echo "<div class='pagination' style = 'float:right'>";
 
					// the 'first' page button
					$paginator = $this->Paginator;
					echo $paginator->first("First");

					// 'prev' page button, 
					// we can check using the paginator hasPrev() method if there's a previous page
					// save with the 'next' page button
					if($paginator->hasPrev()){
					echo $paginator->prev("Prev");
					}

					// the 'number' page buttons
					echo $paginator->numbers(array('modulus' => 2));

					// for the 'next' button
					if($paginator->hasNext()){
					echo $paginator->next("Next");
					}

					// the 'last' page button
					echo $paginator->last("Last");

					echo "</div>";
							
					?>
                 
