

<div class="gray_container">
<div class="container">
	<div class="panel panel-default about_container">
	<div class="panel-body">
    	<div class="row">
        	<div class="col-lg-12">
            	<div class="about_contant">
				<?=$content['description'];?>
        
        </div>
            </div>
        </div>
    	
    </div>
</div>



        </div>



</div>

