
<div class="gray_container">


	
    
    <div class="not-fount-page">
    
    <h1> 402 </h1>
    
    <p> You are not allowed to access this page </p>
    
    <a href="<?=$this->Url->build(['controller'=>'pages','action'=>"home"])?>"> Go to Home </a>
    
    </div>





</div>



