                     <table class="table table-striped jambo_table bulk_action">
                        <thead>
                          <tr class="headings">
							<th class="column-title">S.No. </th>
							<th class="column-title">User Name </th>
							<th class="column-title">Point </th>
							<th class="column-title">Type </th>
							<th class="column-title">Date </th>
							<th class="column-title no-link last"><span class="nobr">Action</span></th>
                          
                          </tr>
                        </thead>

                        <tbody>
							<?php //pr($appusetime);die;
							$count = 1;
							
							foreach($UserRewards->toArray() as $data){
						    
						    ?>
								
								<tr id ="bank_row_<?= $data['id']; ?>" >
								
									<td><?= $count?>.</td>
									<td class=" ">
										<?php
											if($data['user']['full_name'] !=''){
												echo $data['user']['full_name'];
											}else{
												echo $data['user']['phone_number'];
											}
										?>
									</td>
									<td class=" ">
										<?php 
											echo $data['point'];
										?>
									</td>
									<td class=" ">
										<?php 
											echo "Daily Task";
										?>
									</td>
									<td class=" ">
										<?php 
											echo date('Y-m-d', strtotime($data['created']));
										?>
									</td>
									<td class=" last">
										<a class="btn btn-info btn-xs" target="_blank" href="<?php echo $this->Url->build(['controller'=>'UserRewards','action'=>'detail',$data['user_id']]); ?>"><i class="fa fa-eye"></i> History </a>
										
										</div>
										
									</td>
								</tr>
								
								<?php  $count++;
							} ?> 
							
							<?php  if(count($UserRewards->toArray()) < 1) {
								echo "<tr><th colspan = '6'>No record found</th></tr>";
							} ?>	
							
							
                         </tbody>
                      </table>
                      <?php //$this->Paginator->options(array('url' => array('controller' => 'Users', 'action' => 'search')));
					echo "<div class='pagination' style = 'float:right'>";
 
					// the 'first' page button
					$paginator = $this->Paginator;
					echo $paginator->first("First");

					// 'prev' page button, 
					// we can check using the paginator hasPrev() method if there's a previous page
					// save with the 'next' page button
					if($paginator->hasPrev()){
					echo $paginator->prev("Prev");
					}

					// the 'number' page buttons
					echo $paginator->numbers(array('modulus' => 2));

					// for the 'next' button
					if($paginator->hasNext()){
					echo $paginator->next("Next");
					}

					// the 'last' page button
					echo $paginator->last("Last");

					echo "</div>";
							
					?>
                 
