<div class="right_col" role="main">
  <div class="">
	<div class="page-title">
		<?= $this->Flash->render() ?>
		<div class="title_left">
			<h1> SEND <small>Bulk Email</small> </h1>
		</div>
	</div>
	<div class="clearfix"></div>
		<div class="row">
		  <div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
			  <div id="divLoading"> </div><!--Loading class -->
			  <div class="x_content">
				<div class="table-responsive">
				  <!-- Code here --> 
					
					<div class="x_content">
						<?php echo $this->Form->create('',array('class'=>'form-horizontal form-label-left','novalidate','method'=>'post','enctype'=>'multipart/form-data'));?>
						<?= $this->Flash->render() ?>
						<!--<span class="section page-title">Manage Cms Pages</span> -->
						<!--Loading class --> <div id="divLoading"> </div>
						<div class="item form-group" id = "cms_main">
							<label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Select User <span class="required">*</span>
							</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<?php  echo $this->Form->input('email',array('class' => 'form-control col-md-7 col-xs-12 mdb-select md-form colorful-select dropdown-primary','label' =>false,'type'=>'select','options'=>$users,'multiple'=>'multiple','searchable'=>'Search here..' )); ?>
							</div>
						</div>
						<div class="item form-group" id = "cms_main">
							<label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Subject <span class="required">*</span>
							</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<?php  echo $this->Form->input('subject',array('class' => 'form-control col-md-7 col-xs-12 users','label' =>false,'type'=>'text')); ?>
							</div>
						</div>
						<div class="item form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Email Content <span class="required">*</span>
							</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<?php  echo $this->Form->input('sms',array('class' => 'form-control col-md-7 col-xs-12 editor','label' =>false,"type"=>"textarea")); ?>
							</div>
						</div>

						<div class="ln_solid"></div>
						<div class="form-group">
							<div class="col-md-6 col-md-offset-3">
								<?php  echo $this->Form->button('Reset', ['type' => 'reset','class'=>'btn btn-primary']); ?>
								<?php  echo $this->Form->button('Submit', ['type' => 'submit','class'=>'btn btn-success']); ?>
							</div>
						</div>
						</form>
					</div> <!-- Cms page Details --->
						
				</div>
			  </div>
			</div>
		  </div>
		</div>
	</div>
</div>
<?php 
	//echo $this->Html->css(array('Admin/jquery.multiselect.css'));
	/*meenagee_meena
S3sjUZiC&S$2
http://meenageet.com/
* 
* 81 = ak0378439@gmail.com
* 79 = 8432134888
* 
*/	
?>	

